.main {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
}

.component-name {
  position: relative;
  font-size: 1.5;
  top: -10px;
}

table {
  background-color: rgb(208, 255, 208);
  border-collapse: collapse;
}

th {
  background-color: rgb(83, 228, 83);
}

th,
td {
  height: 30px;
  width: 100px;
  border: 1px solid rgb(194, 194, 194);
  text-align: center;
}

.hide {
  display: none;
}

.odd-row {
  background-color: rgb(247, 255, 247);
}
